.timeline {
    position: relative;
  }
  
  .line {
    height: 2px; /* Adjust the height of the line */
  }
  
  .intervals {
    display: flex;
    justify-content: space-between; /* Distribute the intervals evenly */
    position: absolute;
    width: 100%;
    top: 50%; /* Position the intervals vertically in the middle */
    transform: translateY(-50%);
  }
  
  .dot {
    width: 10px; /* Adjust the width of the dots */
    height: 10px; /* Adjust the height of the dots */
    background-color: black; /* Set the color of the dots */
    border-radius: 50%; /* Make the dots circular */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-left: -5px; /* Adjust the left margin to provide offset */
  }
  
  .dot.blue {
    background-color: blue; /* Set the color of the blue dots */
  }
  