<!-- <div class="timeline">
    <div class="timeline-wrapper" [style.width.px]="timelineWidth">
      <div class="timeline-item" *ngFor="let event of events">

        Display event information here
        <img [src]="event.image" alt="{{ event.title }}">
      <h3>{{ event.title }}</h3>
      <p>{{ event.date }}</p>
      <p>{{ event.description }}</p>
      <a [href]="event.video" target="_blank">Watch Video</a>
      </div>
    </div>
  </div> -->
  
  <app-slider [events]="milestone"></app-slider>
