<div class="timeline">
    <div class="line" [ngStyle]="{'background-color': blueDotIndex !== null ? 'blue' : 'grey', 'width': blueDotIndex !== null ? (blueDotIndex * 25 + 12.5) + '%' : '0'}"></div>
    <div class="intervals">
      <div class="dot" (click)="highlightLine(0)" [ngClass]="{'blue': isBlueDot(0)}"></div>
      <div class="dot" (click)="highlightLine(1)" [ngClass]="{'blue': isBlueDot(1)}"></div>
      <div class="dot" (click)="highlightLine(2)" [ngClass]="{'blue': isBlueDot(2)}"></div>
      <div class="dot" (click)="highlightLine(3)" [ngClass]="{'blue': isBlueDot(3)}"></div>
    </div>
  </div>
  